<div class="jumbotron">
  <div class="container">
    <h1>Awesome Stacked WordTree!</h1>
    <p>Go ahead, upload a file and let our super AI figure out what the
      longest word containing a stacked tree is in your file.</p>
  </div>
</div>