<h1>Listing Stack Word Trees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @stack_word_trees.each do |stack_word_tree| %>
      <tr>
        <td><%= stack_word_tree.name %></td>
        <td>
          <%= link_to 'Edit', edit_stack_word_tree_path(stack_word_tree), class: "btn btn-default" %>
          <%= link_to 'Destroy', stack_word_tree, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack word tree', new_stack_word_tree_path, class: "btn btn-sm btn-primary" %>
