<h3>Your stack tree is called <%= @stack_word_tree.name %>, take good care of it!</h3>
<h4>Here is the stacked word tree of the longest word:</h4>
<hr>

<% if @stack_word_tree.result %>
    <% @stack_word_tree.result.each do |result| %>
        <p><%= result %></p>
    <% end %>
<% end %>

<br>
<%= link_to("View All Trees", stack_word_trees_path, class: "btn btn-default") %>